// @import "*";
@import 'foundation';
// fonts

$megrim: 'Megrim', cursive;
$bungee: 'Bungee', cursive;
$bungee-thin: 'Bungee Hairline', cursive;
$comfort: 'Comfortaa', cursive;
$poiret: 'Poiret One', cursive;


/* colors: */
$gray: rgba(193, 212, 226, 1);
$black-blue: rgba(54, 75, 95, 1);
$dark-blue: rgba(50, 91, 133, 1);
$light-blue: rgba(191, 255, 255, 1);
$medium-blue: rgba(43, 105, 166, 1);

body {
  background-color: $gray;
}

.landingHeader {
  background:  url(flowingwater.gif) no-repeat center;
  background-size: cover;
  margin: 7px auto;
  margin-top: 0px;
  padding: 0px;
  border: solid 5px $black-blue;
  transition: .2s;

  h1 {
    text-decoration: none;
    font-family: $megrim;
    font-size: 65px;
    letter-spacing: 20px;
    color: $black-blue;
    margin: 0px auto;
    padding: 0px;
    width: 100%;
    padding-left: 10px;
    text-align: center;
    transition: .2s;

    &:hover {
      color: $light-blue;
      border: solid 2px $light-blue;
      background-color: $dark-blue;
      opacity: 0.9;
    }
  }

  &:hover {
    border: solid 7px $black-blue;
  }

}

.mainHeader {
  color: $dark-blue;
  text-align: right;

  h3 {
    text-align: center;
    margin-top: 5px;
    padding-top: 7px;
    font-size: 14px;
    text-align: left;
    font-family: $comfort;
    color: $dark-blue;
  }

  .icon {
    margin: 5px;
    padding: 5px;
    font-size: 20px;
    color: $medium-blue;
    border: solid 4px $medium-blue;
    transition: .2s;

    &:hover {
      background-color: $dark-blue;
      color: $light-blue;
      border-color: $light-blue;
    }
  }
}

.signup {
  padding: 5px;
  text-align: left;
}

.signin {
  padding: 5px;
  text-align: right;
}

.dashboardContainer {
  margin: 5px auto;
  border: solid 5px $dark-blue;
  padding: 2px;
  margin: 10px auto;
  text-align: center;

  .date {
    margin: 5px;

    h1 {
      margin-top: 5px;
      text-align: left;
      font-family: $comfort;
      font-size: 20px;
      color: $black-blue;
    }

    h2 {
      text-align: right;
      font-weight: bolder;
      font-family: $bungee-thin;
      color: $black-blue;
    }

  }

  h4 {
    font-family: $comfort;
    font-size: 26px;
    font-weight: bolder;
    color: $medium-blue;
    margin-bottom: 3px;
  }
}

.counterContainer {
  margin-top: 15px;
  color: $medium-blue;
  padding-bottom: 5px;

  h1 {
    text-align: center;
    font-size: 30px;
    font-family: $megrim;
  }

  h2.today {
    text-align: center;
    padding-left: 10px;
    font-family: $bungee-thin;
    font-weight: bolder;
    margin-top: 130px;
    vertical-align: middle;
    margin-left: 15px;
  }

  h2.metric {
    text-align: center;
    margin-right: 20px;
    font-family: $bungee-thin;
    font-weight: bolder;
    margin-top: 130px;
    vertical-align: middle;
  }

  .counter {
    i {
      padding: 0px;
      margin: 0px;
    }
    .add, .subtract {
      margin: 0 auto;
      text-align: center;
      color: $black-blue;
      padding: 0px;
      font-size: 25px;
    }

    .ten {
      padding: 0px;
      margin: 0 auto;
      font-size: 50px;
    }

    h1 {
      text-align: center;
      color: $black-blue;
      padding: 0px;
      font-size: 85px;
      font-family: $comfort;
      margin: 0 auto;
      margin-top: 10px;

    }
  }
}

.percent {
  text-align: center;
  margin: 10px auto;

  .goal {
    margin-left: 20px;
    margin-bottom: 24px;
    position: absolute;
    bottom: 0;
  }

  h3 {
    text-align: center;
    margin-top: 15px;
    color: $dark-blue;
    font-family: $megrim;
    font-size: 24px;
    font-weight: bolder;
    bottom: 0;
  }

  h4 {
    text-align: center;
    color: $medium-blue;
    font-family: $comfort;
    font-size: 16px;
    font-weight: bolder;
  }

  .number {
    text-align: right;
    margin: 0px;

    h1 {
      font-family: $comfort;
      font-weight: lighter;
      margin: 0px;
      padding: 0px;
      position: relative;
      bottom: 0;
    }
  }
}

.flash {
  text-align: center;

  h3 {
    color: $dark-blue;
    font-family: $comfort;
    font-size: 15px;
  }
}

.welcome {
  text-align: center;

  h2 {
    font-family: $bungee-thin;
    font-weight: bolder;
    color: $medium-blue;
  }

  p {
    color: $dark-blue;
    font-family: $comfort;
    font-size: 20px;
  }

  h1 {
    margin: 0 auto;
    padding-left: 25px;
    padding-right: 25px;
    font-family: $megrim;
    color: $light-blue;
    border: solid 5px $light-blue;
    background-color: $dark-blue;
    font-size: 100px;
  }
}
